{{#enclosures}}
<ol>
    {{#enclosures}}
    <li>
        <table>
            <caption>{{#names}}<div>{{.}}</div>{{/names}}</caption>
            <thead>
                <th>Slot Identifier</th>
                <th>Primary Device</th>
                <th>Disk Identifier</th>
                <th>Member Devices</th>
            </thead>
            <tbody>
                {{#disks}}
                <tr>
                    <td>{{identifier}}</td>
                    <td>{{#target}}{{target}}{{/target}}</td>
                    <td>{{disk}}</td>
                    <td>
                    {{#devices}}
                    <div>{{.}}</div>
                    {{/devices}}
                    </td>
                </tr>
                {{/disks}}
            </tbody>
        </table>
    </li>
    {{/enclosures}}
</ol>
{{/enclosures}}
{{^enclosures}}
<div>No enclosure information.</div>
{{/enclosures}}
